<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@800&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/mystyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/parallax.min.js"></script>
    <meta property="og:title" content="HELLO 407">
    <meta property="og:image" content="image/phone.png">
    <meta name="twitter:image" content="image/phone.png">
  </head>
  <body>
    {{ content }}
  </body>
</html>